<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MYTHOLOGY &mdash; NORSE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
  <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="FreeHTML5.co" />

  <!-- 
  //////////////////////////////////////////////////////

  FREE HTML5 TEMPLATE 
  DESIGNED & DEVELOPED by FreeHTML5.co
    
  Website:    http://freehtml5.co/
  Email:      info@freehtml5.co
  Twitter:    http://twitter.com/fh5co
  Facebook:     https://www.facebook.com/fh5co

  //////////////////////////////////////////////////////
   -->

    <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">
  <!-- <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> -->
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  
  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- Theme style  -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Owl Carousel  -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  </head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
 
<div ng-app="myApp">
  <header id="fh5co-header" style="background-image: url(https://wallpapertag.com/wallpaper/middle/a/6/4/581863-mythical-creatures-wallpapers-1920x1080-notebook.jpg)">
    <div class="overlay"></div>
    <div class="container">
      <div class="row" style="margin-top: 4em;">
        <div class="col-md-12 text-center">
          <h1 id="fh5co-logo" class="cursive-font"><a href="index.html"> <br>NORSE <br> MYTHOLOGY </a></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            
            <h2>For all your Norse needs</h2>
            <p>
              <a href="index.ht" class="btn btn-primary btn-lg btn-hardbound">Home </a>
              <a href="book.html" class="btn btn-primary btn-lg btn-hardbound">Books </a> 
              <a href="hair.html" class="btn btn-primary btn-lg btn-hardbound">Hair Products </a>
              <a href="modern norse.html" class="btn btn-primary btn-lg btn-hardbound">Modern Representation </a> 
              <a href="ragnorak.html" class="btn btn-primary btn-lg btn-hardbound">Ragnorak </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
 
<div ng-app="myApp">

<h1> Purchase Orders </h1>
<hr />
<hr />
<div ng-controller="c_controller">
  <form class="form-group">
    ID:<br>
    <input type="number" class="form-control" ng-model="id" required><br>
    Name:<br>
    <input type="text" class="form-control" ng-model="name" required><br>
    Card Number:<br>
    <input type="text" class="form-control" ng-model="card_number" required><br>
    Address:<br>
    <input type="text" class="form-control" ng-model="address" required><br>
    Product:<br>
    <input type="text" class="form-control" ng-model="product" required>
    <br><br>
    <button type="submit" class="btn btn-default" ng-click="save()">Submit Order</button>
  </form>
  <p>id:{{id}} <br>name:{{name}} <br>address:{{address}} <br>product:{{product}} <br> return results:{{results}}</p>
</div>


<a href="index.html" class="btn btn-primary btn-lg btn-hardbound">Return Home</a>
</div>

    <footer id="footer">
      <div class="container">
        <div class="col-md-12 text-center">
          
          <ul class="fh5co-social">

            <li><a href="https://www.facebook.com/norsemythology/"><i class="icon-facebook"></i></a></li>
            <li><a href="https://twitter.com/NorseMythNews?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/explore/tags/norsemythology/"><i class="icon-instagram"></i></a></li>
            <li><a href="https://itunes.apple.com/us/app/norse-gods-mythology-pocket-reference/id536371971?mt=8"><i class="icon-apple"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  
  <!-- jQuery -->
  <script src="js/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="js/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Waypoints -->
  <script src="js/jquery.waypoints.min.js"></script>
  <!-- Carousel -->
  <script src="js/owl.carousel.min.js"></script>

  <!-- MAIN JS -->
  <script src="js/main.js"></script>
 
<script>
var app = angular.module('myApp', []);
app.controller('r_controller', function($scope, $http) {
   $http.get("mysql/purchase_orders")
   .then(function (response) {
      $scope.names = response.data;
      // console.log(response.data);
  });
});

app.controller('c_controller', function($scope, $http) {
  $scope.save = function () {
    $http.post("mysql/purchase_orders", {"id": $scope.id, "name": $scope.name, "card_number": $scope.card_number , "address": $scope.address, "product": $scope.product})
    .then(function (response) {
        // $scope.added = response.data;
        $scope.results = response.data
        console.log(response.data);
    });
  }    
});
</script>
 
</body>
</html>
